#map_canvas_static {
    background-image: url('../img/glt_map_static.png');
    background-repeat:no-repeat;
    background-position:center center;
}
.ui-header .ui-title {margin:0 auto;}

#hours-table .today {
    background-color:black;
}